<a href="https://colab.research.google.com/github/Frans-Grau/Hackathon--aws/blob/main/EDA/F_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
### Imports
import pandas as pd

In [2]:
### Load the datasets
df_16_17 = pd.read_csv('https://raw.githubusercontent.com/Gierko/Hackathon-11th-to-13th-January/main/idf_transactions_16_17.csv')
df_2017 = pd.read_csv('https://raw.githubusercontent.com/Gierko/Hackathon-11th-to-13th-January/main/idf_transactions_2017.csv')
df_18_19 = pd.read_csv('https://raw.githubusercontent.com/Gierko/Hackathon-11th-to-13th-January/main/idf_transactions_18_19.csv')
df_pop_dem = pd.read_csv('https://raw.githubusercontent.com/Gierko/Hackathon-11th-to-13th-January/main/info_pop_dem_communes_idf.csv',sep=';')
df_75 = pd.read_csv('https://raw.githubusercontent.com/Gierko/Hackathon-11th-to-13th-January/main/logements_info_75.csv')
df_14_15 = pd.read_csv('https://raw.githubusercontent.com/Gierko/Hackathon-11th-to-13th-January/main/transactions_idf_14_15.csv')

In [16]:
df_2017

,id_mutation,date_mutation,nature_mutation,valeur_fonciere,code_commune,code_departement,id_parcelle,type_local,surface_reelle_bati,nombre_pieces_principales,longitude,latitude,prix_m2
0,2017-1400184,2017-01-11,Vente,71000.0,75103,75,75103000AK0019,appartement,8.0,1.0,2.365951,48.861836,8875
1,2017-1400185,2017-01-09,Vente,430000.0,75103,75,75103000AK0110,appartement,35.0,2.0,2.362202,48.862422,12285
2,2017-1400186,2017-01-09,Vente,690000.0,75103,75,75103000AK0085,appartement,49.0,2.0,2.363117,48.861707,14081
3,2017-1400187,2017-01-03,Vente,470000.0,75103,75,75103000AB0030,appartement,60.0,3.0,2.358119,48.867836,7833
4,2017-1400189,2017-01-06,Vente,646000.0,75101,75,75101000AY0072,appartement,60.0,3.0,2.332011,48.865503,10766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88278,2017-1446232,2017-12-29,Vente,200000.0,75102,75,75102000AP0079,local industriel. commercial ou assimilé,90.0,0.0,2.352858,48.867876,2222
88279,2017-1446237,2017-12-28,Vente,580000.0,75102,75,75102000AE0009,local industriel. commercial ou assimilé,160.0,0.0,2.336429,48.867335,3625
88280,2017-1446241,2017-10-17,Vente,120000.0,75102,75,75102000AG0062,local industriel. commercial ou assimilé,109.0,0.0,2.341525,48.870500,1100
88281,2017-1446242,2017-12-20,Vente,920000.0,75102,75,75102000AI0034,local industriel. commercial ou assimilé,90.0,0.0,2.345110,48.868196,10222
88282,2017-1446245,2017-12-06,Vente,676000.0,75104,75,75104000AG0031,local industriel. commercial ou assimilé,62.0,0.0,2.354241,48.860209,10903

In [14]:
t =  pd.read_csv('https://files.data.gouv.fr/geo-dvf/latest/csv/2022/full.csv.gz')
df2022 = t[['id_mutation','valeur_fonciere','surface_reelle_bati','nombre_pieces_principales','type_local','nature_mutation','nom_commune','code_commune','code_departement','id_parcelle','longitude','latitude','date_mutation']] 
df2022

C:\Users\frans\AppData\Local\Temp\ipykernel_23420\1323614280.py:1: DtypeWarning: Columns (10,12,14,16,17,18,20,22,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  t =  pd.read_csv('https://files.data.gouv.fr/geo-dvf/latest/csv/2022/full.csv.gz')

,id_mutation,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,type_local,nature_mutation,nom_commune,code_commune,code_departement,id_parcelle,longitude,latitude,date_mutation
0,2022-1,55000.0,24.0,1.0,Appartement,Vente,Bourg-en-Bresse,1053,1,01053000AM0102,5.218706,46.198054,2022-01-03
1,2022-2,143000.0,NaN,NaN,NaN,Vente,Savigneux,1398,1,01398000ZE0184,4.847867,46.000617,2022-01-03
2,2022-2,143000.0,NaN,NaN,NaN,Vente,Savigneux,1398,1,01398000ZE0185,4.847920,46.000576,2022-01-03
3,2022-2,143000.0,140.0,3.0,Appartement,Vente,Savigneux,1398,1,01398000ZE0187,4.848345,46.000585,2022-01-03
4,2022-3,300.0,NaN,NaN,NaN,Vente,Messimy-sur-Saône,1243,1,012430000A0643,4.747627,46.045434,2022-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429088,2022-537271,423000.0,NaN,0.0,Dépendance,Vente,Paris 15e Arrondissement,75115,75,75115000AC0055,2.305379,48.837454,2022-06-21
1429089,2022-537271,423000.0,NaN,0.0,Dépendance,Vente,Paris 15e Arrondissement,75115,75,75115000AC0055,2.305379,48.837454,2022-06-21
1429090,2022-537272,104650.0,15.0,1.0,Appartement,Vente,Paris 11e Arrondissement,75111,75,75111000BS0234,2.386354,48.856079,2022-06-30
1429091,2022-537273,51000.0,NaN,0.0,Dépendance,Adjudication,Paris 16e Arrondissement,75116,75,75116000BY0016,2.271505,48.849026,2022-02-10
1429092,2022-537274,200000.0,NaN,0.0,Dépendance,Vente,Paris 14e Arrondissement,75114,75,75114000BT0071,2.328781,48.828676,2022-04-29

In [15]:
z = pd.read_csv('https://files.data.gouv.fr/geo-dvf/latest/csv/2019/full.csv.gz')
df2019 = t[['id_mutation','valeur_fonciere','surface_reelle_bati','nombre_pieces_principales','type_local','nature_mutation','nom_commune','code_commune','code_departement','id_parcelle','longitude','latitude','date_mutation']] 
df2019

C:\Users\frans\AppData\Local\Temp\ipykernel_23420\3442840848.py:1: DtypeWarning: Columns (8,10,12,14,16,17,18,20,22,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  z = pd.read_csv('https://files.data.gouv.fr/geo-dvf/latest/csv/2019/full.csv.gz')

,id_mutation,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,type_local,nature_mutation,nom_commune,code_commune,code_departement,id_parcelle,longitude,latitude,date_mutation
0,2022-1,55000.0,24.0,1.0,Appartement,Vente,Bourg-en-Bresse,1053,1,01053000AM0102,5.218706,46.198054,2022-01-03
1,2022-2,143000.0,NaN,NaN,NaN,Vente,Savigneux,1398,1,01398000ZE0184,4.847867,46.000617,2022-01-03
2,2022-2,143000.0,NaN,NaN,NaN,Vente,Savigneux,1398,1,01398000ZE0185,4.847920,46.000576,2022-01-03
3,2022-2,143000.0,140.0,3.0,Appartement,Vente,Savigneux,1398,1,01398000ZE0187,4.848345,46.000585,2022-01-03
4,2022-3,300.0,NaN,NaN,NaN,Vente,Messimy-sur-Saône,1243,1,012430000A0643,4.747627,46.045434,2022-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429088,2022-537271,423000.0,NaN,0.0,Dépendance,Vente,Paris 15e Arrondissement,75115,75,75115000AC0055,2.305379,48.837454,2022-06-21
1429089,2022-537271,423000.0,NaN,0.0,Dépendance,Vente,Paris 15e Arrondissement,75115,75,75115000AC0055,2.305379,48.837454,2022-06-21
1429090,2022-537272,104650.0,15.0,1.0,Appartement,Vente,Paris 11e Arrondissement,75111,75,75111000BS0234,2.386354,48.856079,2022-06-30
1429091,2022-537273,51000.0,NaN,0.0,Dépendance,Adjudication,Paris 16e Arrondissement,75116,75,75116000BY0016,2.271505,48.849026,2022-02-10
1429092,2022-537274,200000.0,NaN,0.0,Dépendance,Vente,Paris 14e Arrondissement,75114,75,75114000BT0071,2.328781,48.828676,2022-04-29

In [17]:
a = pd.read_csv('https://files.data.gouv.fr/geo-dvf/latest/csv/2021/full.csv.gz')
df2021 = t[['id_mutation','valeur_fonciere','surface_reelle_bati','nombre_pieces_principales','type_local','nature_mutation','nom_commune','code_commune','code_departement','id_parcelle','longitude','latitude','date_mutation']] 
df2021

C:\Users\frans\AppData\Local\Temp\ipykernel_23420\2931226374.py:1: DtypeWarning: Columns (10,12,14,17,18,20,22,24,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  a = pd.read_csv('https://files.data.gouv.fr/geo-dvf/latest/csv/2021/full.csv.gz')

,id_mutation,valeur_fonciere,surface_reelle_bati,nombre_pieces_principales,type_local,nature_mutation,nom_commune,code_commune,code_departement,id_parcelle,longitude,latitude,date_mutation
0,2022-1,55000.0,24.0,1.0,Appartement,Vente,Bourg-en-Bresse,1053,1,01053000AM0102,5.218706,46.198054,2022-01-03
1,2022-2,143000.0,NaN,NaN,NaN,Vente,Savigneux,1398,1,01398000ZE0184,4.847867,46.000617,2022-01-03
2,2022-2,143000.0,NaN,NaN,NaN,Vente,Savigneux,1398,1,01398000ZE0185,4.847920,46.000576,2022-01-03
3,2022-2,143000.0,140.0,3.0,Appartement,Vente,Savigneux,1398,1,01398000ZE0187,4.848345,46.000585,2022-01-03
4,2022-3,300.0,NaN,NaN,NaN,Vente,Messimy-sur-Saône,1243,1,012430000A0643,4.747627,46.045434,2022-01-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429088,2022-537271,423000.0,NaN,0.0,Dépendance,Vente,Paris 15e Arrondissement,75115,75,75115000AC0055,2.305379,48.837454,2022-06-21
1429089,2022-537271,423000.0,NaN,0.0,Dépendance,Vente,Paris 15e Arrondissement,75115,75,75115000AC0055,2.305379,48.837454,2022-06-21
1429090,2022-537272,104650.0,15.0,1.0,Appartement,Vente,Paris 11e Arrondissement,75111,75,75111000BS0234,2.386354,48.856079,2022-06-30
1429091,2022-537273,51000.0,NaN,0.0,Dépendance,Adjudication,Paris 16e Arrondissement,75116,75,75116000BY0016,2.271505,48.849026,2022-02-10
1429092,2022-537274,200000.0,NaN,0.0,Dépendance,Vente,Paris 14e Arrondissement,75114,75,75114000BT0071,2.328781,48.828676,2022-04-29

In [19]:
df2021['nom_commune'].value_counts()

Nice                  13254
Nantes                 8268
Bordeaux               7629
Saint-Étienne          7377
Rennes                 6265
                      ...
Bettoncourt               1
Reherrey                  1
Les Hôpitaux-Vieux        1
Lassales                  1
Ciral                     1
Name: nom_commune, Length: 26024, dtype: int64

In [21]:
df2021['code_commune'].value_counts()

6088     13254
44109     8268
33063     7629
42218     7377
35238     6265
         ...
50496        1
50199        1
61363        1
31387        1
80245        1
Name: code_commune, Length: 28035, dtype: int64

In [8]:
t.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1429093 entries, 0 to 1429092
Data columns (total 40 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   id_mutation                   1429093 non-null  object
 1   date_mutation                 1429093 non-null  object
 2   numero_disposition            1429093 non-null  int64
 3   nature_mutation               1429093 non-null  object
 4   valeur_fonciere               1418914 non-null  float64
 5   adresse_numero                952814 non-null   float64
 6   adresse_suffixe               66883 non-null    object
 7   adresse_nom_voie              1414727 non-null  object
 8   adresse_code_voie             1414784 non-null  object
 9   code_postal                   1414775 non-null  float64
 10  code_commune                  1429093 non-null  object
 11  nom_commune                   1429093 non-null  object
 12  code_departement              1429093 non-null  object
 13  ancien_code_commune           1 non-null        float64
 14  ancien_nom_commune            1 non-null        object
 15  id_parcelle                   1429093 non-null  object
 16  ancien_id_parcelle            1 non-null        object
 17  numero_volume                 3377 non-null     object
 18  lot1_numero                   495880 non-null   object
 19  lot1_surface_carrez           152540 non-null   float64
 20  lot2_numero                   161891 non-null   object
 21  lot2_surface_carrez           51808 non-null    float64
 22  lot3_numero                   28070 non-null    object
 23  lot3_surface_carrez           5514 non-null     float64
 24  lot4_numero                   9104 non-null     float64
 25  lot4_surface_carrez           1380 non-null     float64
 26  lot5_numero                   3793 non-null     float64
 27  lot5_surface_carrez           502 non-null      float64
 28  nombre_lots                   1429093 non-null  int64
 29  code_type_local               878820 non-null   float64
 30  type_local                    878820 non-null   object
 31  surface_reelle_bati           484031 non-null   float64
 32  nombre_pieces_principales     878112 non-null   float64
 33  code_nature_culture           926030 non-null   object
 34  nature_culture                926030 non-null   object
 35  code_nature_culture_speciale  58323 non-null    object
 36  nature_culture_speciale       58323 non-null    object
 37  surface_terrain               926000 non-null   float64
 38  longitude                     1416574 non-null  float64
 39  latitude                      1416574 non-null  float64
dtypes: float64(17), int64(2), object(21)
memory usage: 436.1+ MB